*.log
.orig
__pycache__/
.vscode/
intellij/
.idea/
create-edifact.zip
backup/
.DS_Store
create-data/_documentation
create-data/convert_and_import_taric/documentation
create-data/gsp/xml_out
create-data/convert_and_import_taric/import_safe
create-data/create_reference_data/source
defra_check
global_tariff_data
